<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express Application</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style>
        .col-md-6{
            background-color: #fff;
            margin-top: 20px;
            padding: 20px;
        }
    </style>
</head>
    <body class="bg-info">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                {{{body}}}
            </div>
        </div>
    </body>
</html> 