<h3>{{title}}</h3>
<form action="/employee" method="POST" autocomplete="off">
<input type="hidden" name="_id" value={{employee._id}}>
    <div class="form-group">
        <label>Full Name</label>
        <input type="text" class="form-control" name="fullname" placeholder="fullname">
    </div>

    <div class="form-group">
        <label>Email Id</label>
        <input type="text" class="form-control" name="email" placeholder="email id">
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Mobile</label>
            <input type="text" class="form-control" name="mobile" placeholder="mobile no">
        </div>

        <div class="form-group col-md-6">
            <label>city</label>
            <input type="text" class="form-control" name="city" placeholder="city">
        </div>
    </div>

    <div class="form-group offset-md-5">
        <button class="btn btn-info" type="submit">Submit</button>
    </div>
</form>