<table class="table table-striped">
    <thead>
        <th>Full Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>City</th>
        <th></th>
    </thead>
    <tbody>
        {{#each list}}
        <tr>
            <td>{{this.fullname}}</td>
            <td>{{this.email}}</td>
            <td>{{this.mobile}}</td>
            <td>{{this.city}}</td>
            <td><a href="/employee/{{this._id}}" class="fa fa-trash">Edit</a></td>
        </tr>
        {{/each}}
    </tbody>
</table>